<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>{{ config.title }}</title>

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" herf="/code-style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/assets/js/respond.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/css/ie.css">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<!-- <body>
  <section class="section">
    <div class="container">
      <h1 class="title">This is my blog made with Zola.</h1>
      <p>Click <a href="/blog/">here</a> to see my posts.</p>
    </div>
  </section>
</body> -->

<body>

  <div class="wrapper">

    <section>
      <div id="title">
        <h1><a href="{{ config.base_url }}/">{{ config.title }}</a></h1>
        <p>{{ config.description }}</p>
        <hr>
        <span class="credits right">Me:
          <a href="{{ config.extra.github_url }}">GitHub</a> |
          <a href="{{ config.extra.linkedin_url }}">LinkedIn</a> |
          <a href="{{ config.extra.stackoverflow_url }}"> StackOverflow</a>
        </span>
        <span class="credits left">
          <!-- TODO: get the reference right here -->
          <a href="{{ config.extra.site_github_repo_url }}/blob/master{{ current_path }}">
            View page source
          </a>
          on GitHub
        </span>
      </div>

      <div class="content-body">
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
      </div>

    </section>

  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("{{ config.extra.google_analytics }}");
      pageTracker._trackPageview();
    } catch (err) { }
  </script>

</body>

</html>